.mediaViewInfo {
    --web-view-name: AJOUTER;
    --web-view-id: AJOUTER;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: AJOUTER;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#AJOUTER {
    position: absolute;
    width: 1187px;
    height: 14482px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: AJOUTER;
    --web-view-id: AJOUTER;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#WipeOut01_11_2021_070105000000 {
    position: absolute;
    width: 11873px;
    height: 14482px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#logo {
    position: absolute;
    width: 1046px;
    height: 1216px;
    left: 109px;
    top: 216px;
    overflow: visible;
}
#LOGO_l {
    position: absolute;
    width: 1046px;
    height: 1216px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#MYBEATYLIST {
    left: 66px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 930px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 155px;
    color: rgba(6,6,6,1);
}
#MyBeautyList {
    left: 3884px;
    top: 906px;
    position: absolute;
    overflow: visible;
    width: 4264px;
    white-space: nowrap;
    text-align: left;
    font-family: Brush Script MT;
    font-style: italic;
    font-weight: normal;
    font-size: 858px;
    color: rgba(25,13,17,1);
}
#back {
    position: absolute;
    width: 173.286px;
    height: 261px;
    left: 388px;
    top: 1842.5px;
    overflow: visible;
}
#back_p {
    fill: rgba(255,255,255,1);
}
.back_p {
    overflow: visible;
    position: absolute;
    width: 173.286px;
    height: 261px;
    transform: translate(0px, 0px) matrix(1,0,0,1,-0.0002,0) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#couleur_ajouter {
    position: absolute;
    width: 7672px;
    height: 591.5px;
    left: 309px;
    top: 5787px;
    overflow: visible;
}
#Ligne_9 {
    fill: transparent;
    stroke: rgba(16,15,15,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_9 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 591.127px;
    left: 2298px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_1 {
    fill: transparent;
    stroke: rgba(10,10,10,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_1 {
    overflow: visible;
    position: absolute;
    width: 5425px;
    height: 75px;
    left: 2298.5px;
    top: 591.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_11 {
    fill: transparent;
    stroke: rgba(19,18,18,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_11 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 586.128px;
    left: 7671px;
    top: 5px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_24 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_24 {
    overflow: visible;
    position: absolute;
    width: 5344.07px;
    height: 80px;
    left: 2299.5px;
    top: 0.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3 {
    fill: rgba(210,173,173,1);
    stroke: rgba(25,24,24,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 5344px;
    height: 511px;
    left: 2328px;
    top: 43px;
}
#Couleur_ {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 1183px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#code_article_ajouter {
    position: absolute;
    width: 7671px;
    height: 554px;
    left: 309px;
    top: 3234px;
    overflow: visible;
}
#Ligne_21 {
    fill: transparent;
    stroke: rgba(20,20,20,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_21 {
    overflow: visible;
    position: absolute;
    width: 5373px;
    height: 75px;
    left: 2298px;
    top: 549px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_27 {
    fill: transparent;
    stroke: rgba(15,14,14,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_27 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 533.643px;
    left: 7670.5px;
    top: 15px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_25 {
    fill: transparent;
    stroke: rgba(16,15,15,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_25 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 549.643px;
    left: 2298.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_12 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_12 {
    overflow: visible;
    position: absolute;
    width: 5372.195px;
    height: 89px;
    left: 2298.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2 {
    fill: rgba(213,182,182,1);
    stroke: rgba(222,212,212,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 5373px;
    height: 534px;
    left: 2298px;
    top: 20px;
}
#Code_Article_ {
    left: 0px;
    top: 78px;
    position: absolute;
    overflow: visible;
    width: 1766px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#nom_art_ajouter {
    position: absolute;
    width: 7671px;
    height: 589.5px;
    left: 309px;
    top: 4335px;
    overflow: visible;
}
#Ligne_23 {
    fill: transparent;
    stroke: rgba(12,11,11,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_23 {
    overflow: visible;
    position: absolute;
    width: 5372.601px;
    height: 117.998px;
    left: 2299px;
    top: 546.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_22 {
    fill: transparent;
    stroke: rgba(15,14,14,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_22 {
    overflow: visible;
    position: absolute;
    width: 5373.405px;
    height: 103.999px;
    left: 2298px;
    top: 3.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_26 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_26 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 535.14px;
    left: 2298px;
    top: 33.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_10 {
    fill: transparent;
    stroke: rgba(12,11,11,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_10 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 565px;
    left: 7670.5px;
    top: 4px;
    transform: matrix(1,0,0,1,0,0);
}
#Nom_dArticle_ {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 1975px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#Rectangle_5 {
    fill: rgba(214,182,182,1);
    stroke: rgba(20,18,18,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 5344px;
    height: 543px;
    left: 2313.5px;
    top: 18px;
}
#taille_ajouter {
    position: absolute;
    width: 7488px;
    height: 2129px;
    left: 394px;
    top: 7395px;
    overflow: visible;
}
#Ligne_36 {
    fill: transparent;
    stroke: rgba(7,7,7,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_36 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 2129px;
    left: 7488px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_35 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_35 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 2129px;
    left: 2114px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_78 {
    fill: rgba(10,10,10,1);
    stroke: rgba(16,16,16,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Trac_78 {
    overflow: visible;
    position: absolute;
    width: 5373.531px;
    height: 112.998px;
    left: 2113.5px;
    top: 559.5px;
    transform: matrix(1,0,0,1,0,0);
}
#S_M_L_XL {
    left: 2402px;
    top: 829px;
    position: absolute;
    overflow: visible;
    width: 261px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 245px;
    color: rgba(0,0,0,1);
}
#Ligne_32 {
    fill: transparent;
    stroke: rgba(19,18,18,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_32 {
    overflow: visible;
    position: absolute;
    width: 5374.5px;
    height: 75px;
    left: 2113.5px;
    top: 2129px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_25 {
    fill: rgba(210,166,166,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_25 {
    position: absolute;
    overflow: visible;
    width: 5286px;
    height: 520px;
    left: 2201px;
    top: 0px;
}
#Trac_77 {
    fill: rgba(12,11,11,1);
    stroke: rgba(17,17,17,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Trac_77 {
    overflow: visible;
    position: absolute;
    width: 5374px;
    height: 75px;
    left: 2114px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#XS {
    left: 2234px;
    top: 61px;
    position: absolute;
    overflow: visible;
    width: 337px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#Taille_ {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 799px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#prix_ajouter {
    position: absolute;
    width: 7420.5px;
    height: 580px;
    left: 561px;
    top: 10302.5px;
    overflow: visible;
}
#Ligne_38 {
    fill: transparent;
    stroke: rgba(7,7,7,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_38 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 560px;
    left: 1946.5px;
    top: 20px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_28 {
    fill: rgba(209,165,165,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_28 {
    position: absolute;
    overflow: visible;
    width: 5369px;
    height: 479px;
    left: 2021px;
    top: 60.5px;
}
#Ligne_33 {
    fill: transparent;
    stroke: rgba(6,6,6,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_33 {
    overflow: visible;
    position: absolute;
    width: 5399px;
    height: 75px;
    left: 2020.5px;
    top: 20px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_34 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_34 {
    overflow: visible;
    position: absolute;
    width: 5473px;
    height: 75px;
    left: 1946.5px;
    top: 580px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_37 {
    fill: transparent;
    stroke: rgba(10,10,10,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_37 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 580.129px;
    left: 7419.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Prix_ {
    left: 0px;
    top: 90.5px;
    position: absolute;
    overflow: visible;
    width: 631px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#Btn_Ajouter {
    position: absolute;
    width: 2880px;
    height: 560px;
    left: 3574px;
    top: 12432px;
    overflow: visible;
}
#Trac_79 {
    fill: rgba(14,4,42,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Trac_79 {
    overflow: visible;
    position: absolute;
    width: 2880px;
    height: 560px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#AJOUTER_bu {
    left: 754px;
    top: 109px;
    position: absolute;
    overflow: visible;
    width: 1372px;
    white-space: nowrap;
    text-align: center;
    font-family: Baskerville Old Face;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(229,202,202,1);
}
#btn_insrer {
    position: absolute;
    width: 1620px;
    height: 640px;
    left: 9553px;
    top: 7982px;
    overflow: visible;
}
#Rectangle_30 {
    fill: rgba(47,20,77,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_30 {
    position: absolute;
    overflow: visible;
    width: 1620px;
    height: 640px;
    left: 0px;
    top: 0px;
}
#INSRER {
    left: 264px;
    top: 166px;
    position: absolute;
    overflow: visible;
    width: 1134px;
    white-space: nowrap;
    text-align: left;
    font-family: Baskerville Old Face;
    font-style: normal;
    font-weight: normal;
    font-size: 271px;
    color: rgba(232,192,192,1);
    text-transform: uppercase;
}
#srch {
    position: absolute;
    width: 2250px;
    height: 514.965px;
    left: 9388px;
    top: 165.035px;
    overflow: visible;
}
#Rectangle_32 {
    fill: rgba(15,14,14,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_32 {
    width: 2236.782px;
    height: 476px;
    position: absolute;
    overflow: visible;
    transform: translate(-9007px, -391.035px) matrix(1,0,0,1,9010.9836,410.5175) rotate(1deg);
    transform-origin: center;
}
#search {
    position: absolute;
    width: 540px;
    height: 496px;
    left: 1710px;
    top: 9.965px;
    overflow: visible;
}
#recherche {
    left: 412px;
    top: 102.965px;
    position: absolute;
    overflow: visible;
    width: 1065px;
    white-space: nowrap;
    text-align: left;
    font-family: Baskerville Old Face;
    font-style: normal;
    font-weight: normal;
    font-size: 271px;
    color: rgba(238,238,238,1);
}
#image_art {
    position: absolute;
    width: 2000px;
    height: 1997px;
    left: 9280px;
    top: 5725px;
    overflow: visible;
}
#Rectangle_33 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_33 {
    position: absolute;
    overflow: visible;
    width: 2000px;
    height: 1997px;
    left: 0px;
    top: 0px;
}
#arti {
    position: absolute;
    width: 2000px;
    height: 1997px;
    left: 0px;
    top: 0px;
    overflow: visible;
}