.mediaViewInfo {
    --web-view-name: MODIFIER;
    --web-view-id: MODIFIER;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: MODIFIER;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#MODIFIER {
    position: absolute;
    width: 12072px;
    height: 14482px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: MODIFIER;
    --web-view-id: MODIFIER;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#WipeOut01_11_2021_070105000000 {
    position: absolute;
    width: 12072px;
    height: 14482px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#logo {
    position: absolute;
    width: 1046px;
    height: 1216px;
    left: 109px;
    top: 216px;
    overflow: visible;
}
#LOGO_l {
    position: absolute;
    width: 1046px;
    height: 1216px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#MYBEATYLIST {
    left: 83px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 882px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 147px;
    color: rgba(6,6,6,1);
}
#MyBeautyList {
    left: 3884px;
    top: 906px;
    position: absolute;
    overflow: visible;
    width: 4264px;
    white-space: nowrap;
    text-align: left;
    font-family: Brush Script MT;
    font-style: italic;
    font-weight: normal;
    font-size: 858px;
    color: rgba(25,13,17,1);
}
#back {
    position: absolute;
    width: 173.286px;
    height: 261px;
    left: 388px;
    top: 1842.5px;
    overflow: visible;
}
#back_p {
    fill: rgba(255,255,255,1);
}
.back_p {
    overflow: visible;
    position: absolute;
    width: 173.286px;
    height: 261px;
    transform: translate(0px, 0px) matrix(1,0,0,1,-0.0002,0) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#couleur_mod {
    position: absolute;
    width: 7593px;
    height: 591.5px;
    left: 388px;
    top: 5133px;
    overflow: visible;
}
#Ligne_9 {
    fill: transparent;
    stroke: rgba(16,15,15,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_9 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 591.127px;
    left: 2219px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_1 {
    fill: transparent;
    stroke: rgba(10,10,10,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_1 {
    overflow: visible;
    position: absolute;
    width: 5425px;
    height: 75px;
    left: 2219.5px;
    top: 591.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_11 {
    fill: transparent;
    stroke: rgba(19,18,18,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_11 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 586.128px;
    left: 7592px;
    top: 5px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_24 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_24 {
    overflow: visible;
    position: absolute;
    width: 5344.07px;
    height: 80px;
    left: 2220.5px;
    top: 0.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3 {
    fill: rgba(210,173,173,1);
    stroke: rgba(25,24,24,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 5344px;
    height: 511px;
    left: 2249px;
    top: 43px;
}
#Couleur_ {
    left: 0px;
    top: 96px;
    position: absolute;
    overflow: visible;
    width: 1183px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#code_article_modifier {
    position: absolute;
    width: 7592px;
    height: 554px;
    left: 388px;
    top: 3313px;
    overflow: visible;
}
#Ligne_21 {
    fill: transparent;
    stroke: rgba(20,20,20,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_21 {
    overflow: visible;
    position: absolute;
    width: 5373px;
    height: 75px;
    left: 2219px;
    top: 549px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_27 {
    fill: transparent;
    stroke: rgba(15,14,14,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_27 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 533.643px;
    left: 7591.5px;
    top: 15px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_25 {
    fill: transparent;
    stroke: rgba(16,15,15,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_25 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 549.643px;
    left: 2219.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_12 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_12 {
    overflow: visible;
    position: absolute;
    width: 5372.195px;
    height: 89px;
    left: 2219.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2 {
    fill: rgba(213,182,182,1);
    stroke: rgba(222,212,212,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 5373px;
    height: 534px;
    left: 2219px;
    top: 20px;
}
#Code_Article_ {
    left: 0px;
    top: 78px;
    position: absolute;
    overflow: visible;
    width: 1766px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#nom_art_modifier {
    position: absolute;
    width: 7518px;
    height: 586px;
    left: 388px;
    top: 4201px;
    overflow: visible;
}
#Ligne_23 {
    fill: transparent;
    stroke: rgba(12,11,11,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_23 {
    overflow: visible;
    position: absolute;
    width: 5372.6px;
    height: 117.998px;
    left: 2146px;
    top: 543px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_22 {
    fill: transparent;
    stroke: rgba(15,14,14,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_22 {
    overflow: visible;
    position: absolute;
    width: 5373.405px;
    height: 103.999px;
    left: 2145px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_26 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_26 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 535.14px;
    left: 2145px;
    top: 30px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_10 {
    fill: transparent;
    stroke: rgba(12,11,11,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_10 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 565px;
    left: 7517.5px;
    top: 0.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5 {
    fill: rgba(214,182,182,1);
    stroke: rgba(20,18,18,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 5344px;
    height: 543px;
    left: 2160.5px;
    top: 14.5px;
}
#Nom_dArticle_ {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 1975px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#prix_mod {
    position: absolute;
    width: 7456.5px;
    height: 580px;
    left: 525px;
    top: 9022.5px;
    overflow: visible;
}
#Ligne_34 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_34 {
    overflow: visible;
    position: absolute;
    width: 5373px;
    height: 75px;
    left: 2082.5px;
    top: 580px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_37 {
    fill: transparent;
    stroke: rgba(10,10,10,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_37 {
    overflow: visible;
    position: absolute;
    width: 76px;
    height: 580.129px;
    left: 7455.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_33 {
    fill: transparent;
    stroke: rgba(6,6,6,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_33 {
    overflow: visible;
    position: absolute;
    width: 5299px;
    height: 75px;
    left: 2156.5px;
    top: 20px;
    transform: matrix(1,0,0,1,0,0);
}
#Prix_ {
    left: 0px;
    top: 139.5px;
    position: absolute;
    overflow: visible;
    width: 631px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#Ligne_38 {
    fill: transparent;
    stroke: rgba(7,7,7,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_38 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 560px;
    left: 2082.5px;
    top: 20px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_28 {
    fill: rgba(209,165,165,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_28 {
    position: absolute;
    overflow: visible;
    width: 5269px;
    height: 479px;
    left: 2157px;
    top: 59.5px;
}
#taille_modifier {
    position: absolute;
    width: 7508.5px;
    height: 2129px;
    left: 473px;
    top: 6302.5px;
    overflow: visible;
}
#Rectangle_25 {
    fill: rgba(210,166,166,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_25 {
    position: absolute;
    overflow: visible;
    width: 5225px;
    height: 520px;
    left: 2208px;
    top: 39.5px;
}
#Ligne_36 {
    fill: transparent;
    stroke: rgba(7,7,7,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_36 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 2129px;
    left: 7508.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_35 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_35 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 2129px;
    left: 2134.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_78 {
    fill: rgba(10,10,10,1);
    stroke: rgba(16,16,16,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Trac_78 {
    overflow: visible;
    position: absolute;
    width: 5373.531px;
    height: 112.998px;
    left: 2134px;
    top: 559.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_32 {
    fill: transparent;
    stroke: rgba(19,18,18,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_32 {
    overflow: visible;
    position: absolute;
    width: 5374.5px;
    height: 75px;
    left: 2134px;
    top: 2129px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_77 {
    fill: rgba(12,11,11,1);
    stroke: rgba(17,17,17,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Trac_77 {
    overflow: visible;
    position: absolute;
    width: 5374px;
    height: 75px;
    left: 2134.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#S_M_L_XL {
    left: 2308px;
    top: 638.5px;
    position: absolute;
    overflow: visible;
    width: 261px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 245px;
    color: rgba(0,0,0,1);
}
#XS {
    left: 2270px;
    top: 119.5px;
    position: absolute;
    overflow: visible;
    width: 337px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#Taille_ {
    left: 0px;
    top: 39.5px;
    position: absolute;
    overflow: visible;
    width: 799px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 300px;
    color: rgba(0,0,0,1);
}
#Btn_Modifier {
    position: absolute;
    width: 2880px;
    height: 560px;
    left: 3613px;
    top: 13212px;
    overflow: visible;
}
#Trac_79 {
    fill: rgba(14,4,42,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Trac_79 {
    overflow: visible;
    position: absolute;
    width: 2880px;
    height: 560px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#MODIFIER_bu {
    left: 532px;
    top: 65px;
    position: absolute;
    overflow: visible;
    width: 1892px;
    white-space: nowrap;
    text-align: left;
    font-family: Baskerville Old Face;
    font-style: normal;
    font-weight: normal;
    font-size: 377px;
    color: rgba(246,210,210,1);
}
#stock {
    position: absolute;
    width: 7591.5px;
    height: 1780px;
    left: 422px;
    top: 10312px;
    overflow: visible;
}
#Ligne_39 {
    fill: transparent;
    stroke: rgba(12,11,11,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_39 {
    overflow: visible;
    position: absolute;
    width: 5307px;
    height: 75px;
    left: 2222px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_40 {
    fill: transparent;
    stroke: rgba(12,11,11,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_40 {
    overflow: visible;
    position: absolute;
    width: 5369.35px;
    height: 99.999px;
    left: 2222.5px;
    top: 705px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_42 {
    fill: transparent;
    stroke: rgba(9,8,8,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_42 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 650px;
    left: 7544.5px;
    top: 15.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_45 {
    fill: transparent;
    stroke: rgba(12,11,11,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_45 {
    overflow: visible;
    position: absolute;
    width: 98.98px;
    height: 1040.232px;
    left: 2235.5px;
    top: 640px;
    transform: matrix(1,0,0,1,0,0);
}
#Stock_ {
    opacity: 0.79;
    left: 0px;
    top: 151px;
    position: absolute;
    overflow: visible;
    width: 901px;
    white-space: nowrap;
    text-align: left;
    font-family: Baskerville Old Face;
    font-style: normal;
    font-weight: normal;
    font-size: 333px;
    color: rgba(58,19,19,1);
}
#Ligne_44 {
    fill: transparent;
    stroke: rgba(12,11,11,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_44 {
    overflow: visible;
    position: absolute;
    width: 5356.273px;
    height: 94.5px;
    left: 2216.5px;
    top: 1717.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_29 {
    fill: rgba(213,159,159,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_29 {
    position: absolute;
    overflow: visible;
    width: 5224px;
    height: 611px;
    left: 2261px;
    top: 52px;
}
#Ligne_43 {
    fill: transparent;
    stroke: rgba(10,10,10,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_43 {
    overflow: visible;
    position: absolute;
    width: 90.993px;
    height: 1141.053px;
    left: 7529px;
    top: 640px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_41 {
    fill: transparent;
    stroke: rgba(13,13,13,1);
    stroke-width: 75px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_41 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 665.5px;
    left: 2222.5px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#__ {
    left: 2489px;
    top: 890px;
    position: absolute;
    overflow: visible;
    width: 176px;
    white-space: nowrap;
    text-align: left;
    font-family: Baskerville Old Face;
    font-style: normal;
    font-weight: normal;
    font-size: 350px;
    color: rgba(62,12,12,1);
}
#Btn_changer {
    position: absolute;
    width: 1740px;
    height: 719px;
    left: 9420px;
    top: 8022px;
    overflow: visible;
}
#Rectangle_31 {
    fill: rgba(27,17,71,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_31 {
    position: absolute;
    overflow: visible;
    width: 1740px;
    height: 580px;
    left: 0px;
    top: 0px;
}
#CHANGER_ {
    left: 198px;
    top: 101px;
    position: absolute;
    overflow: visible;
    width: 1345px;
    white-space: nowrap;
    text-align: left;
    font-family: Baskerville Old Face;
    font-style: normal;
    font-weight: normal;
    font-size: 271px;
    color: rgba(232,192,192,1);
}
#srch {
    position: absolute;
    width: 2250px;
    height: 514.965px;
    left: 9692px;
    top: 216px;
    overflow: visible;
}
#Rectangle_32 {
    fill: rgba(15,14,14,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_32 {
    width: 2236.782px;
    height: 476px;
    position: absolute;
    overflow: visible;
    transform: translate(-9007px, -391.035px) matrix(1,0,0,1,9010.9836,410.5175) rotate(1deg);
    transform-origin: center;
}
#search {
    position: absolute;
    width: 540px;
    height: 496px;
    left: 1710px;
    top: 9.965px;
    overflow: visible;
}
#recherche {
    left: 412px;
    top: 102.965px;
    position: absolute;
    overflow: visible;
    width: 1065px;
    white-space: nowrap;
    text-align: left;
    font-family: Baskerville Old Face;
    font-style: normal;
    font-weight: normal;
    font-size: 271px;
    color: rgba(238,238,238,1);
}
#image_article {
    position: absolute;
    width: 2000px;
    height: 1997px;
    left: 9280px;
    top: 5725px;
    overflow: visible;
}
#Rectangle_33 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_33 {
    position: absolute;
    overflow: visible;
    width: 2000px;
    height: 1997px;
    left: 0px;
    top: 0px;
}
#arti {
    position: absolute;
    width: 2000px;
    height: 1997px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
